.article {
  margin: 0 auto 1.875rem auto;
  max-width: 1044px;
  width: 100%;
}
.date {
  color: gray;
}
.article p,
.article h1,
.article h2,
.article ul,
.article li,
.article a {
  background-color: white;
}
.article .newsLink {
  color: gray;

  text-decoration: none;
  background-color: rgb(243, 243, 247);
}

.article1 {
  background-color: white;
  padding: 1.875rem;
  margin-top: 1.875rem;
}
.article1 strong {
  background-color: white;
}
@media (max-width: 1090px) {
  .article {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 95%;
  }
}
@media (max-width: 767px) {
  .article h1{
    font-size: 1.5rem;
  }
  .article h2{
    font-size: 1.35rem;
  }
}
