.footer{
background-color: white;
margin-top: 70px;
padding-bottom: 50px;
position:relative;
top:2em;
}
.rows{
    display: flex;
    justify-content: space-between;
    max-width:  80%;
    margin: 0 auto;
    background-color: white;
    padding-top: 2em;
}
.footer div, .footer h4, .footer h5, .footer p{
    background-color: white;
}

.footer  a{
    cursor: pointer;
    background-color: white;
    text-decoration: none;
    display: block;
    font-weight: 600;
}
.icon3{
    background-color: white;
    margin-right:10px;
    color: #2070d1;
    font-size: 20px;
    cursor: pointer;
}

.icon3:hover{
transform:scale(150%) ;
}
.footer a:hover{
    color:blue;
    text-decoration: underline;
}
.footer .cont a{
    color: #2070d1!important;
}
.footer a{
    color: black;
    font-weight: 700;
}
.footer h5{
    
    font-weight: bold;
}