.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: white;

}
*{
    font-family: Georgia , Helvetica, serif;
}
.nav1{
    display: flex;
    align-items: center; 
    color: gray; 
  
}
.div:hover{
    color: rgb(42, 41, 41) ;
}
.div{
    padding: 20px;
    background-color: white;
    cursor: pointer;
}
.h1{
    margin: 10px;
    color: orange;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
}
.section{
    color: rgb(0, 0, 0);
    background-color: white;
    padding-bottom: 20px;
   
}
.h3 ,.h2{font-size: 15px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.h1{
    background-color: white;
    cursor: pointer;
}
.h2{
    background-color: white;
}
*{
    background-color: rgb(243, 243, 247);
}
.h3:hover{
    color: orange;
}

@media screen and (max-width: 400px ) {
    
}
.div{
    text-decoration: none;
    color: inherit;
}
