.nav{
    color: blue;    
    display: flex;
    margin-left: 98px;
    /*margin-top: 40px;*/
    font-weight: 500;
  margin-top: 70px;
    background-color: white;
   padding-bottom: 29px;
   box-sizing: border-box;
   width: 1044px;
  margin-right: 10px;
}

.nav div{
    background-color:rgb(255, 255, 255) ;
    padding: 10px;
    padding-bottom: 20px;
}
.nav div:hover{
color: orange;
}
.form{
    /*background-color: white;*/
    display: flex;
    /*margin-left: 21%;*/
    /*align-items: center;*/
    justify-content: center;
    margin-left: 47px;
}
.input{
   padding-left: 10px ;
    background-color: white;
    height: 60px;
    width: 1005px;
    box-sizing: border-box;
    border: 1px solid, rgb(129, 176, 214);
}
.button{
    position: absolute;
    background-color: white;
    height: 60px;
    width: 59px;
    transform: translateX(870%);
    border: 1px solid, rgb(129, 176, 214) ;
}
.icon{
    background-color: white;
   font-size: large;
   color: rgb(129, 176, 214);
}
.icon:hover{
    color: rgb(48, 75, 97);
}

.section2{
    display: flex;
    justify-content: center;
}
.button1{
    border-radius: 15px;
    margin: 15px;
 background-color: white;
 padding: 7px;
 border: solid  rgb(129, 176, 214) 1px;
 cursor: pointer;
}
.butSec{
    background-color: white;
    padding-top: 20px;
    box-sizing: border-box;
    justify-content: center;
    width: 1044px;
  margin-left: 281px;
  padding-bottom: 20px;
  
}
.button1:hover{
    background-color: rgb(239, 239, 240);
}

ul{
    padding-left: 0;
}